[submodule "gtest"]
	path = gtest
	url = https://git.kolodziej.it/KolK/gtest.git
	branch = good-old-gtest
[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
	branch = master
