#!/usr/bin/make -f -e
build:
	dh_testdir
	dh_update_autotools_config
	dh_auto_configure -- -DGIT_COMMIT=$(GIT_COMMIT) -DGIT_REF=$(GIT_REF) -DCMAKE_BUILD_TYPE=Release
	dh_auto_build

%:
	dh $@ --parallel
